body {
  color: #838C95;
  margin: 0;
  text-align: center;
  font-family: 'Josefin Slab', serif;

}
hr{
  border: dotted #161415 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
h1 {
  font-size: normal;
  margin: 50px auto 0 auto ;
  line-height: 2;
  font-family: 'Great Vibes', cursive;
  color:  #ff7a00;
}

h2 {
  font-family: 'Old Standard TT', serif;
  color:  #66BFBF;
}

h3 {
  font-family: 'Old Standard TT', serif;
  color: #11999E;
}
p{
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Old Standard TT', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6f6;
}
.header {
  height: 100vh;
  background-image: url(https://t4.ftcdn.net/jpg/04/75/67/67/360_F_475676739_4uSdpV10kGemUK6JN0MPrWLVOhxyZ49R.jpg);
  background-attachment: fixed;
  background-size: cover;

}
.middle-container{
  background-color: #fff;
  margin: 100px 0;
}
.Passion{
  font-size: 2.5rem;
  font-weight: normal;
  color:  #ffa500;
}


.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.disc {
  display: table;
  margin: 0 auto;
  height: auto;
  width: auto;
}

.logo {
  height: 20px;
  width: 20px;
}

.LogoOfCodingSkill {
  display: block;
  float: right;
  width: 30%;
  border-radius: 50%;
  margin-right: 30px;
}
.school{
  display: block;
  float: left;
  margin: auto;
  border-radius: 50%;
  margin-left: 30px;
}
.study{

  width: auto;
  line-height: 2;
}


.top-cloud {
  position: relative;
  right: 300px;
  top: 50px;
}
.edu-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  overflow: auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  overflow: auto;
}
.intro{
  width:30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.names{
  margin:0;
  font-family:"Arial Black";
  font-size:100px;
  color:#fff;
  text-shadow:1px 1px #dedede,
    -2px 2px #dedede,
    -3px 3px #dedede,
    -4px 4px #dedede,
    -5px 5px #dedede,
    -6px 6px #dedede,
    -7px 7px #dedede,
    -8px 8px #dedede,
    -9px 9px #dedede,
    -10px 10px #dedede,
    -12px 12px 25px rgba(0,0,0,0.5);
}

.bottom-container{
  background-color:  #ff5f6d;
  padding: 50px 0 20px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}

.fa:hover {
    opacity: 0.7;
  }
.fa-facebook {
  background: #3B5998;
  color: white;
}
p span{
  color:#ff7a00;
  font-family:Georgia;
  font-size:350%;
  float:left;
  line-height:85%;
  padding-top:4px;
  padding-right:4px;
  margin-bottom:-10px;
}

.img-container{
  margin: auto;
  max-width:210px;
  position:relative;
  transform-origin:center -15%;
  animation:swing 0.8s ease-in-out infinite alternate;
}

@keyframes swing{
  from{
    transform:rotate(-6deg);
  }

  to{
    transform:rotate(6deg);
  }
}

.img-container img{
  max-width:100%;
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.img-container::before,
.img-container::after{
  content:"";
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  top:-15%;
  border:1px solid #131313;
}

.img-container::before{
  width:10px;
  height:10px;
  border-radius:50%;
  background-color:#ff7a00;
  box-shadow:0 0 10px rgba(255,122,0,0.8);
}

.img-container::after{
  width:8px;
  height:80px;
  border-radius:10px;
  z-index:-1;
}

.svg-link {
  margin: auto;
  color: #444;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  display: grid;
  place-items: center;
  position: relative;

}

.svg-link svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.outline {
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #4700d8;
  fill: transparent;
  stroke-dasharray: 59 235;
  stroke-dashoffset: -235;
  transition: all 0.9s;
}

.svg-link:hover {
  color: #4700d8;
}

.svg-link:hover .outline {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 379;
}
